$base-color: #d43a2c;

.btn {
  display: block;
  background-color: transparent;
  font-family: 'Martel Sans', sans-serif;
  font-weight: 800;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  transition: all .3s ease;

  svg {
    vertical-align: middle;
  }
}

.btnPrimary {
  width: 166px;
  height: 34px;
  line-height: 30px;
  border: 3px solid #d43a2c;
  color: #d43a2c;
  font-size: 10px;


  &:hover,
  &:focus {
    background-color: #d43a2c;
    color: #ffffff;
  }

  svg {
    font-size: 7px;
  }
}

.btnCta {
  width: 154px;
  height: 40px;
  line-height: 40px;
  border: 3px solid #FFF;
  color: #FFF;
  font-size: 15px;

  &:hover,
  &:focus {
    border-color: #d43a2c;
    background-color: #d43a2c;
  }

  svg {
    font-size: 13px;
  }
}

.btnNoBorder {
  position: relative;
  display: inline-block;
  color: #d43a2c;
  font-size: 12px;
  line-height: 20px;

  &:hover,
  &:focus {
    color: #95281e;
  }

  svg {
    position: relative;
    font-size: 11px;
  }
}