.infoContainer {
  width: 50%;
  padding: 0 15px 100px;
  font-family: "Palanquin", sans-serif;
  font-size: 16px;
  line-height: 24px;

  // style for all icons
  svg {
    color: #d43a2c;
    margin-right: 20px;
  }
}

.companyName {
  margin: 0 0 40px;
  color: #444444;
  font-family: "Martel Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;

  span {
    display: block;
  }
}

.address {
  display: flex;
  align-items: baseline;
  margin-bottom: 46px;
}

.email {
  display: flex;
  align-items: center;
  margin-bottom: 46px;
}

.personContactInfo {
  margin-bottom: 46px;

  p {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
  }
}

.registers {
  margin-bottom: 46px;

  p {
    margin-bottom: 6px;
  }
}