.cta {
  background-image: url("../../../images/bg-cta.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #675855;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ctaHeader {
  color: #FFF;
  margin-bottom: 24px;
  font-size: 32px;
}